body {
    background-color: black;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

html.is-changing .transition-fade {
    transition: 0.25s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

::-webkit-scrollbar {
    opacity: 0;
    width: 0px;
    height: 0px;
}

header {
    position: relative;
    height: 50px;
    transition: 0.5s;
}

header::before, header::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #3535f7, #b503eb, #f00861);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
header::before {
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 1;
}
header:hover {
    transform: scale(1.01);
}

#pgIcon {
    position: relative;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 5px;
    margin-top: -20px;
    border-radius: 10px;
}


.custom-shape-divider-bottom-1722906498 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1722906498 .shape-fill {
    fill: #0e0d0dbb;
}



.custom-shape-divider-bottom-1722906498E .shape-fill {
    fill: #1b1919;
}


nav {
    position: relative;
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    position: inherit;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 50px;
    bottom: 21px;
}

.pages {
    float: left;
}

.socials {
    float: right;
}

.socials a img {
    position: relative;
    height: 40px;
    width: 40px;
    padding: 13px;
    left: -43px;
    top: -11px;
    transition: transform 0.2s ease-in-out;
    margin-left: -13px;
}

.socials a img:hover {
    transform: scale(1.1);
}

.clicked {
    transform: scale(0.85);
}

#maintext {
    color: #f9f9f9;
    font-size: 100px;
    margin-top: 20vh;
    width: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scrollpage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #1b1919;
    padding: 5em 10%;
    min-height: 100vh;
}

.title {
    color: #f9f9f9;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -1vh;
}

#myname {
    align-self: center;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px;
    margin-top: 10px;
    background-color: transparent;
}

.skills {
    display: flex;
    position: relative;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 10px;
    border: #3535f7 solid 3px;
    box-shadow: #3535f7 0px 0px 20px;
    overflow: visible;
    margin-bottom: 100px;
}

.skill {
    background-color: #12129e;
    box-shadow: #12129e 0px 0px 20px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 5px;
}

.skills-container[data-animated=true] {
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
    max-width: 900px;
    flex-wrap: nowrap;
}

[data-animated=true] .skills {
    animation: scroll 20s linear infinite;
    width: fit-content;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 15px));
    }
}

.skill:hover {
    transform: scale(1.1);
}

.skill img {
    width: 70px;
    height: 70px;
    margin: 15px;
}

span:not(.letter-animation, .bold) {
    transition: 0.3s;
}

span:not(.letter-animation, .bold):hover {
    color: yellow;
    font-size: larger;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}

.show {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0);
    transition: all 3s;
}

.letter-animation {
    display: inline-block;
    animation: typing 2s ease-in-out 1;
    animation-delay: calc(var(--char-index) * 0.5s);
    white-space: nowrap;
    overflow: hidden;
    color: #380fcc;
    transition: 0.2s;
    text-shadow: 0px 0px 8px #380fcc;
    overflow: visible;
}

.letter-animation:hover {
    color: #ee6509;
    text-shadow: 0px 0px 10px #ee6509;
}

@keyframes typing {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0%);
    }
}

.waves {
    width: 100%;
    margin-bottom: -4px;
    z-index: 3;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.waves-img {
    width: 100%;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 50px;
    justify-content: center;
    align-items: baseline;
    background-color: #201e1e;
    height: max-content;
    width: 100%;
    margin-top: 10px;
}

.project {
    background-color: #1a1818;
    padding: 30px;
    width: 40vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 10px;
    border: #1a1aa7 solid 3px;
    box-shadow: #1a1aa7 0px 0px 20px;
    margin: 20px;
    transition: 0.6s;
}

.project:hover {
    scale: 1.01;
    box-shadow: #12129e 0px 0px 30px;
}

.project-title {
    color: #f9f9f9;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-description {
    color: #f9f9f9bb;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    align-self: center;
    margin: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project button, .project-display button {
    background-color: #121266;
    color: #f9f9f9;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: #12129e solid 2px;
    transition: 0.6s;
    width: 100%;
}

.project a {
    width: 100%;
}

.project button:hover, .project-display button:hover {
    background-color: #12129e;
    color: #f9f9f9;
    border: none;
    box-shadow: #12129e 0px 0px 10px;
    scale: 1.1;
}

.project-display {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-display video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
    margin: 20px;
    border-radius: 10px;
    border: #12129e solid 2px;
}

#title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c7c7c7;
    font-size: 50px;
    margin-bottom: 5vh;
}

#description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #12129e;
    font-size: 30px;
    margin-bottom: 5vh;
    text-shadow: #12129e 0px 0px 10px;
}

#vid-description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2020da;
    font-size: 20px;
    margin-bottom: 5vh;
}

.bold {
    color: #3535f7;
    font-weight: bold;
    text-shadow: #12129e 0px 0px 10px;
}

#search-project-bar {
    background-color: #201e1e;
    padding: 30px;
    width: 40vh;
    height: 1vh;
    display: inline-block;
    border-radius: 10px;
    transition: 0.6s;
    margin: 20px;
    border: none;
    color: aliceblue;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#category-selector {
    background-color: #201e1e;
    appearance: none;
    width: 40vh;
    padding: 5px;
    height: 6.5vh;
    display: inline-block;
    border-radius: 10px;
    transition: 0.6s;
    margin: 20px;
    border: none;
    color: aliceblue;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.window {
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background: linear-gradient(#252323, #080808);
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
    position: absolute;
    z-index: 0;
    transition: height 0.3s, width 0.3s;
}

.minimized {
    height: 0px;
}

.window div {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #312f2f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center
}

.drag {
    cursor: grab;
}

.btnsmall {
    height: 13px;
    width: 13px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.closebtn {
    background-color: #dd0b0b;
}

.minbtn {
    background-color: #ebc20d;
}

.drag:active {
    cursor: grabbing;
}

.isometric-container {
	width: 100%;
	margin: 20px auto;
    position: absolute;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
	transform: rotateX(35.36deg) rotateY(-45deg)  rotateZ(0deg) translateY(-1px) translateX(0px);
    z-index: -50;
}

.isometric-element {
	height: 50vh;
	background: #0c0c0c83;
	border-radius: 8px;
	position: relative;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	font-family: Helvetica Neue, sans-serif;
	color: rgb(248, 248, 248);
	box-shadow: 1px 1px 2px transparentize(black, 0.5), 1px 2px 8px transparentize(black, 0.65);
    opacity: 0.4;
}