body {
    background-color: black;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

html.is-changing .transition-fade {
    transition: 0.25s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

::-webkit-scrollbar {
    opacity: 0;
    width: 0px;
    height: 0px;
}

header {
    position: relative;
    height: 50px;
    transition: 0.5s;
}

header::before, header::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #3535f7, #b503eb, #f00861);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
header::before {
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 1;
}
header:hover {
    transform: scale(1.01);
}

#pgIcon {
    position: relative;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 5px;
    margin-top: -20px;
    border-radius: 10px;
}

.custom-shape-divider-bottom-1722906498 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1722906498 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1722906498 .shape-fill {
    fill: #0e0d0dbb;
}

.custom-shape-divider-bottom-1722906498E {
    position: absolute;
    bottom: -30px;
    left: -700px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}

.custom-shape-divider-bottom-1722906498E svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1722906498E .shape-fill {
    fill: #1b1919;
}

.custom-shape-divider-bottom-1722906498ER {
    position: absolute;
    bottom: -30px;
    left: 700px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1722906498ER svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1722906498ER .shape-fill {
    fill: #141313;
}

nav {
    position: relative;
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    position: inherit;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 50px;
    bottom: 21px;
}

.pages {
    float: left;
}

.socials {
    float: right;
}

.socials a img {
    position: relative;
    height: 40px;
    width: 40px;
    padding: 13px;
    left: -43px;
    top: -11px;
    transition: transform 0.2s ease-in-out;
    margin-left: -13px;
}

.socials a img:hover {
    transform: scale(1.1);
}

.clicked {
    transform: scale(0.85);
}

#maintext {
    color: #f9f9f9;
    position: absolute;
    height: 500px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.custom-shape-divider-bottom-17229064982 {
    position: absolute;
    bottom: 0;
    left: -700px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-17229064982 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-17229064982 .shape-fill {
    fill: #0e0d0dbb;
}

.custom-shape-divider-bottom-1722906498E2 {
    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}

.custom-shape-divider-bottom-1722906498E2 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1722906498E2 .shape-fill {
    fill: #1b1919;
}

.custom-shape-divider-bottom-1722906498ER2 {
    position: absolute;
    bottom: -30px;
    left: 800px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1722906498ER2 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1722906498ER2 .shape-fill {
    fill: #141313;
}

.scrollpage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 200%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #1b1919;
    margin: -50% 0 0 -50%;
    z-index: 5;
}

#abtme {
    color: #f9f9f9;
    position: absolute;
    height: 500px;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 180px;
}

#myname {
    align-self: center;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px;
    position: relative;
    background-color: transparent;
}

.skills {
    display: flex;
    position: relative;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 10px;
    border: #3535f7 solid 3px;
    box-shadow: #3535f7 0px 0px 20px;
    overflow: visible;
}

.skill {
    background-color: #12129e;
    box-shadow: #12129e 0px 0px 20px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.skills-container[data-animated=true] {
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
    max-width: 900px;
    flex-wrap: nowrap;
}

[data-animated=true] .skills {
    animation: scroll 20s linear infinite;
    width: fit-content;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 15px));
    }
}

.skill:hover {
    transform: scale(1.1);
}

.skill img {
    width: 70px;
    height: 70px;
    margin: 15px;
}

span:not(.letter-animation) {
    transition: 0.3s;
}

span:not(.letter-animation):hover {
    color: yellow;
    font-size: 120px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0);
    transition: all 2s;
}

.letter-animation {
    display: inline-block;
    animation: typing 2s ease-in-out 1;
    animation-delay: calc(var(--char-index) * 0.5s);
    white-space: nowrap;
    overflow: hidden;
    color: #380fcc;
    transition: 0.2s;
    text-shadow: 0px 0px 8px #380fcc;
    overflow: visible;
}

.letter-animation:hover {
    color: #ee6509;
    text-shadow: 0px 0px 10px #ee6509;
}

@keyframes typing {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0%);
    }
}

